<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<title>travel planner</title>
</head>

<body>
	<div id="container">
		<header id="header">
			<nav id="nav">
				<h1 id="nav-header">travel planner</h1>
			</nav>
		</header>
		<!-- <main> -->
			<section id="trip-plan">
				<div id="form-container">
					<h2 id="plan-header">Next travel Plan</h2>
					<form id="trip-form">
						<div id="trip-fields">
							<input id="city" name="city" placeholder="Your Trip Destination (e.g. London)"
								required="">
							<input type="date" id="start" name="start" placeholder="Start"
								required="" >
							<input type="date" id="end" name="end" placeholder="End"
								required="" >
							<button type="button" class="btn" id="submit-btn">Add a trip
							</button>
						</div>
					</form>
				</div>
			</section>


			<section class="trips" id="trips">

				<ul id="trips-list">
					<li class="trips-card" id="ageqnTZ77DLeD78H6dmjqi">
		<div class="trips-head">
			<div class="trips-info">
			<h3 class="trip-header">
				Newyork, United Kingdom
			</h3>
				<strong>07 September 2021</strong>
			</div>
			<div class="trip-edit">
			<button class="btn del-btn" id="ageqnTZ77DLeD78H6dmjqi"><i class="fas fa-trash-alt"></i></button>
			</div>
		</div>
		<div class="trip-content">
			<div class="trip-image">
			<img src="https://pixabay.com/get/g3c11aed781a3f62edd73ca1e629cd7f2420aa71cf8eff55b38b91f84c52edb62beed766996a696ef7483ddf109eaf76a_640.jpg" alt="new york, city, travel">
			</div>
			<div class="weather-container">
			<ul class="trip-weather">
			
		<li class="weather-forecast">
		<span class="weather-forecast-date">Fri, 03</span>
		<div class="weather-forecast-icon">
			<img src="./media/c03d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			17° / 10°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">0%</span>
			</div>
		</div>
		</li>
	
		<li class="weather-forecast">
		<span class="weather-forecast-date">Sat, 04</span>
		<div class="weather-forecast-icon">
			<img src="./media/c04d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			17° / 11°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">0%</span>
			</div>
		</div>
		</li>
	
		<li class="weather-forecast">
		<span class="weather-forecast-date">Sun, 05</span>
		<div class="weather-forecast-icon">
			<img src="./media/r04d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			17° / 11°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">85%</span>
			</div>
		</div>
		</li>
	
			</ul>
			</div>
		</div>

		</li>
					
					
					<li class="trips-card" id="atzpOFk4l_XIjYW7nBlZ-a">
		<div class="trips-head">
			<div class="trips-info">
			<h3 class="trip-header">
				Iraq
			</h3>
				<strong>07 September 2021</strong>
			</div>
			<div class="trip-edit">
			<button class="btn del-btn" id="atzpOFk4l_XIjYW7nBlZ-a"><i class="fas fa-trash-alt"></i></button>
			</div>
		</div>
		<div class="trip-content">
			<div class="trip-image">
			<img src="https://pixabay.com/get/g924add287f7ec1612e23e9107b7f18dd3ffac845aaebe85c5b631e8aa11e95aba6ae7334ecc8259d195b2be796e23bad_640.jpg" alt="leaves, orange, sunset">
			</div>
			<div class="weather-container">
			<ul class="trip-weather">
			
		<li class="weather-forecast">
		<span class="weather-forecast-date">Fri, 03</span>
		<div class="weather-forecast-icon">
			<img src="./media/c01d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			43° / 33°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">0%</span>
			</div>
		</div>
		</li>
	
		<li class="weather-forecast">
		<span class="weather-forecast-date">Sat, 04</span>
		<div class="weather-forecast-icon">
			<img src="./media/c02d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			41° / 29°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">0%</span>
			</div>
		</div>
		</li>
	
		<li class="weather-forecast">
		<span class="weather-forecast-date">Sun, 05</span>
		<div class="weather-forecast-icon">
			<img src="./media/c01d.png" alt="undefined">
		</div>
		<div class="weather-forecast-meta">
			<span class="weather-forecast-temp">
			43° / 28°
			</span>
			<div class="weather-forecast-pop">
			<i class="umbrella icon"></i>
			<span class="weather-forecast-high">0%</span>
			</div>
		</div>
		</li>
	
			</ul>
			</div>
		</div>

		</li>

				</ul>
			</section>
		<!-- </main> -->

		<footer>
			<div id="copy">Ahmed Mahmmood © 2021</div>
			<a href="#header" class="link" id="footer-link"><span id="footer-to-up"><i class="fas fa-chevron-circle-up"></i></span></a>
		</footer>
	</div>
	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('service-worker.js').then(function(registration) {
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}).catch(function(err) {
			//registration failed :(
			console.log('ServiceWorker registration failed: ', err);
			});
		}else {
			console.log('No service-worker on this browser');
		}
    </script>

</body>
</html>
